.details {
    display: grid;
    place-content: center;
}
.details h2 {
    font-size: 3.5em;
}
.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 40px;
}
.html {
    margin-top: 40px;
}
.link {
    margin-top: 150px;
}
.img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hrTag {
    opacity: 1;
}
.html a {
    display: inline;
}
.html ul li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
}
.html li p {
    margin-bottom: 0;
}
